controller:
  kind: DaemonSet
  resources:
    
    requests:
      cpu: 100m
      memory: 90Mi

  config:
    allow-cross-namespace-resources: true
    annotations-risk-level: Critical
    use-forwarded-headers: "true"

  allowSnippetAnnotations: "true"
  enableAnnotationValidations: false
  service:
    loadBalancerIP: "10.10.20.240"
    loadBalancerSourceRanges: []
    enableHttp: true
    enableHttps: true
    externalTrafficPolicy: "Local"

  topologySpreadConstraints:
    - labelSelector:
        matchLabels:
          app.kubernetes.io/name: ingress-nginx
          app.kubernetes.io/instance: ingress-nginx
          app.kubernetes.io/component: controller
      topologyKey: topology.kubernetes.io/zone
      maxSkew: 1
      whenUnsatisfiable: ScheduleAnyway
      matchLabelKeys:
        - pod-template-hash
    - labelSelector:
        matchLabels:
          app.kubernetes.io/name: ingress-nginx
          app.kubernetes.io/instance: ingress-nginx
          app.kubernetes.io/component: controller
      topologyKey: kubernetes.io/hostname
      maxSkew: 1
      whenUnsatisfiable: ScheduleAnyway
      matchLabelKeys:
        - pod-template-hash
  metrics:
    enabled: true

