apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    tier: application
spec:
  replicas: 4
  selector:
    matchLabels:
      run: nginx
  template:
    metadata:
      labels:
        run: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:mainline
          ports:
          - containerPort: 8080
          volumeMounts:
          - name: content
            mountPath: /usr/share/nginx/html
      volumes: 
        - name: content
          persistentVolumeClaim:
            claimName: nginx-pvc
            readOnly: true